{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": "off",
    "unicorn/prefer-module": "off",
    "unicorn/filename-case": "off",
    "quote-props": "off",
    "camelcase": "off",
    "eol-last": "warn",
    "padding-line-between-statements": "off",
    "comma-dangle": "warn",
    "spaced-comment": "off",
    "indent": [
      "error",
      4
    ],
    "no-trailing-spaces": "warn",
    "operator-linebreak": "off"
  }
}